/* CSS Reset ============================================================================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    color: #fff;
    -webkit-transition: color 250ms ease;
    transition: color 250ms ease;
}
a:hover{
    color: #40CAA9;
}

/* Skeleton CSS ============================================================================
*/

.container{
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.col{
    width: 100%;
    float: left;
    box-sizing: border-box;
}

/* For device larger than 400px
*/
@media (min-width: 400px){
    
    .container{
        width: 80%;
        padding:0;
    }
}

@media (min-width: 500px){
    
    .container{
        width: 80%;
    }
    .col{
        margin-left: 0%;
    }
    .col:first-child{
        margin-left: 0%;
    }
    
    .one.col    { width: 4.66666666667%; }
    .two.col    { width: 13.3333333333%; }
    .three.col  { width: 22%; }
    .four.col   { width: 30.6666666667%; }
    .five.col   { width: 39.3333333333; }
    .six.col    { width: 48%; }
    .seven.col  { width: 56.6666666667%; }
    .eight.col  { width: 65.3333333333%; }
    .nine.col   { width: 74.0%;}
    .ten.col    { width: 82.6666666667%; }
    .eleven.col { width: 91.3333333333%; }
    .twelve.col { width: 100%; margin-left: 0; }

    .one-third.col   { width: 30.6666666667%; }
    .two-thirds.col  { width: 65.3333333333%; }

    .one-half.col { width: 48%; }
    

     /*  Offsets  */
    
    .offset-by-six{ padding:0 10px; }

}
@media (max-width: 480px){
    
    .six.col    { width: 100%; }
}





/* Clearing ============================================================================
*/
.container:after,
.row:after{
    content: "";
    display: table;
    clear: both;
}