@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
@import url('reset.css');

.text-black{ color: #000; }
.text-white{ color: #fff; }
.text-blue{ color: #1736DC; }
.text-peach{ color: #FB56BF; }
h1{ font-size: 2.6rem; }
h2{ font-size: 1.5rem; }
h3{ font-size: 1.125rem; }
.font-weight-blod{ font-weight: bold; }
.content h2{ font-weight: bold; margin-bottom: 48px;}

.ta-c{ text-align: center;}
.ta-l{ text-align: left;}
.ta-r{ text-align: right;}

.col-4,
.col-6{
    float: left;
}
.col-4{ 
    width: calc(33.33333% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}
.col-6{ 
    width: calc(calc(47.5999% - 22px) - 22px);
    margin-left: 22px;
    margin-right: 22px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 69px;
    padding-left: 69px;
    margin-bottom: 96px;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.d-flex{ display: flex;}

/* For All Setting End*/




.wrap{
    width: 1024px;
    margin: 0 auto;
    background-color: #fbfbfb;
}
.header{
    background: url(../images/img-headerShape.png)  no-repeat; height: 399px;
    padding-top:125px;
}
.basicInfo ul li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.basicInfo ul li span{
    margin-left: 15px;
    font-size: 1.125rem;
}
/* Header End */



.content .skills .item{
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    border-radius: 6px;
}
.content .skills .item:nth-child(1){
    border-bottom: 6px solid #F58D23;
}
.content .skills .item:nth-child(2){
    border-bottom: 6px solid #539E43;
}
.content .skills .item:nth-child(3){
    border-bottom: 6px solid #6762A6;
}
.item .img{
    padding: 25px 100px;
}
.item ul{
    margin: 26px 0 35px 0;
    padding-left: 40px;
}
.item li{
    list-style-type: disc;
    font-size: .625rem;
    line-height: .875rem;
    margin-left: 20px;
}
/* Skills End */



.content .works li{
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.content .works li:hover{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.40);
}
.content .works li .img1,
.content .works li .img2,
.content .works li .img3{
    text-align: right;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.content .works li .img1{
    background-color: #fdb4e3;
    justify-content: flex-end;
    align-items: flex-end;
}
.content .works li .img2{
    background-color: #424242;
}
.content .works li .img3{
    background-color: #8AD7FA;
}
.content .works .desc{
    padding-left: 8px;
    margin: 10px 0;
}
/* Works End */




.footer{
    background: url(../images/img-Looper-bg.png);
    height: 87px;
    line-height: 87px;
}
