// 變數一定要寫在最前面, 檔案的先後順序很重要!
$color_black: #000;
$color_white: #fff;
$color_blue: #1736DC;
$color_peach: #FB56BF;


// SCSS import用法
@import "compass/css3";
// 常見的CSS3樣式
// @include border-radius(50px)
// @include opacity(2.0)
// @include box-shadow(2px 2px 5px #000)
@import "reset"; 
@import "mixin";



.wrap{
    width: 1024px;
    margin: 0 auto;
    background-color: #fbfbfb;
}
header{
    h1{
        padding: 20px 0 0 20px;
        a{
            @include bg(logo,png);
            display: block;
            @include test-hide;
            @include border-radius(20px);
            &:hover{
                @include opacity(0.2);
            }
        }
    }
}
.basicInfo{
    ul{
        li{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            span{
                margin-left: 15px;
                font-size: 1.125rem;
            }
        }
    }
}
/* Header End */


.content{
    .skills{
        .item{
            background-color: $color_white;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
            border-radius: 6px;
            :nth-child(1){
                border-bottom: 6px solid #F58D23;
            }
            :nth-child(2){
                border-bottom: 6px solid #539E43;
            }
            :nth-child(2){
                border-bottom: 6px solid #6762A6;
            }
            .img{
                padding: 25px 100px;
            }
            ul{
                margin: 26px 0 35px 0;
                padding-left: 40px;
                li{
                    list-style-type: disc;
                    font-size: .625rem;
                    line-height: .875rem;
                    margin-left: 20px;
                }
            }
        }
    }
    .works{
        .desc{
            padding-left: 8px;
            margin: 10px 0;
        }
        li{
            background-color: $color_white;
            border-radius: 4px;
            -webkit-transition: .2s ease-in-out;
            -moz-transition: .2s ease-in-out;
            -o-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
            &:hover{
                box-shadow: 0 1px 4px 0 rgba(0,0,0,0.40);
            }
            %all_works_img{
                text-align: right;
                border-radius: 4px 4px 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 150px;
            }
            .img1{
                @extend %all_works_img;
                background-color: #fdb4e3;
                justify-content: flex-end;
                align-items: flex-end;
            }
            .img2{
                @extend %all_works_img;
                background-color: #424242;
            }
            .img3{
                @extend %all_works_img;
                background-color: #8AD7FA;
            }
        }
    }
}